/* цвет основного текста  #757575;*/
/* цвет вторичного текста #212121;*/
/* цвет фона вторичный #2F303A;*/
/* цвет акцент #2196F3;*/
/* цвет белый #FFFFFF;*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
}
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-style: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 3%;
}
ul {
  list-style: none;
}
/* header*/
.logo {
  color: var(--title-text-color);

  font-family: raleway, sans-serif;
  font-style: 700;
  font-size: 26px;
  line-height: 1, 19;
  text-align: left;
  letter-spacing: 3%;
}
.logo-part {
  color: var(--accent-color);
}
/*nav*/
.site-nav .link {
  color: var(--title-text-color);
  font-style: 500;
  font-size: 14px;
  line-height: 1, 14;
  text-align: left;
  letter-spacing: 2%;
}
.site-nav .link.current {
  color: var(--accent-color);
}
.contact .link {
  color: var(--primary-text-color);
  font-style: 500;
  font-size: 14px;
  line-height: 1, 14;
  text-align: left;
  letter-spacing: 2%;
}
.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}
/*hero*/
.hero {
  background-color: var(--secondary-bg-color);
  color: #ffffff;

  font-style: 900;
  font-size: 44px;
  line-height: 1, 4;
  text-align: center;
  vertical-align: top;
  letter-spacing: 6%;
}
.hero-button {
  color: #ffffff;
  background-color: var(--accent-color);

  font-family: inherit;
  font-style: 700;
  font-size: 16px;
  line-height: 1, 9;
  text-align: center;
  vertical-align: center;
}

/* Секции*/
.features .title {
  color: var(--title-text-color);
  font-style: 700;
  font-size: 14px;
  line-height: 1, 17;
  text-align: left;
  vertical-align: top;
}

.works .title {
  color: var(--title-text-color);
  font-style: 700;
  font-size: 36px;
  line-height: 1, 16;
  text-align: center;
  vertical-align: top;
}
.team {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  vertical-align: top;
}
.team .team-title {
  color: var(--title-text-color);
  font-style: 700;
  font-size: 36px;
  line-height: 1.16;
}
.team .title {
  color: var(--title-text-color);
  font-style: 500;
}
/* Футер*/
.footer {
  background-color: var(--secondary-bg-color);
}
.footer .link-logo {
  color: #212121;
}
.adress {
  color: var(--primary-bg-color);
}

/*Портфолио*/

.portfolio .link {
  color: var(--primary-text-color);
  font-style: 400;
  font-size: 16px;
  line-height: 1, 9;
  text-align: left;
  vertical-align: top;
}
/*button*/
.btn-portfolio {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-family: inherit;
  font-style: 500;
  font-size: 16px;
  line-height: 1, 9;
  text-align: center;
  vertical-align: top;
}

.btn-portfolio.accent {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}
.portfolio .title {
  color: var(--title-text-color);
  font-style: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  vertical-align: top;
}
